@charset "UTF-8";
/*********************************************************/
* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: "Kanit", sans-serif;
  background-color: darkslategrey;
}
html body {
  background-color: darkslategrey;
}

/************************ HEADER **************************/
/*********** Barra de Navegación ***********/
a {
  text-decoration: none;
}

.navega {
  background-color: darkslategrey;
  height: 4rem;
  text-align: center;
  font-size: 2rem;
  margin-top: -1rem;
  position: sticky;
  top: 0rem;
}
.navega a {
  color: white;
}
.navega a:hover {
  color: black;
  font-size: 2.5rem;
  font-weight: bold;
}

@media (max-width: 575px) {
  .navega {
    height: 10rem;
  }
}
/***********Animación a algunos títulos***********/
/*Pequeña modificación usando librería*/
:root {
  --animate-duration: 3200ms;
  --animate-delay: 0.9s;
}

/*************** Hero Home ***************/
.hero-home {
  width: 100%;
  height: 80rem;
  background-image: url(../img/hero-image.jpg);
  margin-top: -1rem;
}

.titulo {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.titulo h1 {
  margin-top: 5rem;
  font-size: 7rem;
  font-weight: 600;
  color: darkslategrey;
  text-align: center;
}
.titulo h2 {
  color: darkslategrey;
  font-size: 2rem;
  font-weight: 600;
}
.titulo h2:hover {
  transform: rotate(-7deg);
  color: red;
}

@media (max-width: 575px) {
  .titulo h2 {
    color: white;
  }
  .titulo h1 {
    font-size: 4rem;
  }
}
/*Animación cambio de color en el título*/
.titulo h1 {
  animation-name: mianimacion;
  animation-duration: 10s;
}

@keyframes mianimacion {
  0% {
    color: darkslategrey;
  }
  25% {
    color: grey;
  }
  50% {
    color: black;
  }
  75% {
    color: grey;
  }
  100% {
    color: darkslategrey;
  }
}
/*************** Hero Eventos Torneos Tienda ***************/
.hero-eventos-torneos-tienda {
  width: 100%;
  height: 40rem;
  background-image: url(../img/hero-image.jpg);
  margin-top: -1rem;
}
.hero-eventos-torneos-tienda .titulo--white h1 {
  color: white;
}

/****************** MAIN ******************/
/************* Home **************/
.home-main {
  background-color: darkslategrey;
  display: flex;
  justify-content: center;
}
.home-main .nosotros {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: darkslategrey;
  color: white;
  width: 50%;
}
.home-main .nosotros h2 {
  font-size: 3rem;
  margin: 3.5rem 0rem;
  text-align: center;
}
.home-main .nosotros p {
  font-size: 2rem;
  margin-bottom: 4rem;
}

/**************** Galería de imágenes en Eventos ***************/
.main-eventos {
  background-color: darkslategrey;
}
.main-eventos .galeria {
  background-color: darkslategrey;
  margin-top: 5rem;
  margin-bottom: 3rem;
}

.height-20rem {
  width: 100%;
  height: 20rem;
}

.row {
  margin-top: 1.5rem;
}

/*Responsive galería*/
.margin-right {
  margin-left: 2%;
}

/************* Torneos **************/
.torneos-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: darkslategrey;
}
.torneos-main h3 {
  color: white;
  font-size: 5rem;
  margin-top: 8rem;
  margin-bottom: 4rem;
  text-align: center;
}
.torneos-main ul {
  color: white;
  font-size: 3rem;
  margin-bottom: 3rem;
}
.torneos-main p {
  color: white;
  font-size: 2rem;
  margin-bottom: 10rem;
}

@media (max-width: 575px) {
  .categorias h3 {
    font-size: 4rem;
  }
  .categorias ul {
    font-size: 2rem;
  }
  .torneos-main img {
    width: 100%;
  }
  .torneos-aclaracion {
    margin: 2rem;
  }
  .torneos-main h3 {
    font-size: 4rem;
  }
}
/**************** Tienda ****************/
.nuestra-coleccion {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.nuestra-coleccion h1 {
  color: white;
  margin-top: 5rem;
  font-family: "Kanit", sans-serif;
  margin-bottom: 7rem;
}
.nuestra-coleccion .productos {
  margin-top: 3rem;
  margin-bottom: 70rem;
  width: 90%;
  display: flex;
  justify-content: space-around;
  padding: 0.3rem;
  margin-bottom: 20rem;
}
.nuestra-coleccion .productos .clase-producto {
  width: 18rem;
  height: 75rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: first baseline;
}
.nuestra-coleccion .productos .clase-producto h2 {
  color: white;
  font-family: "Kanit", sans-serif;
  margin-bottom: 5rem;
}
.nuestra-coleccion .productos .clase-producto .unidad-producto {
  width: 17rem;
  height: 17rem;
  margin: 10px 0;
}
.nuestra-coleccion .productos .clase-producto img {
  width: 17rem;
  height: 17rem;
}
.nuestra-coleccion .productos .medio {
  height: 110rem;
}

@media (max-width: 500px) {
  .productos {
    margin-top: 3rem;
    width: 90%;
    height: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .productos .clase-producto {
    width: 12.5rem;
    height: 50rem;
    margin-top: 0.3rem;
    margin-bottom: 2rem;
  }
  .productos .clase-producto .unidad-producto {
    width: 12rem;
    height: 12rem;
  }
  .productos .clase-producto img {
    width: 12rem;
    height: 12rem;
  }
  .productos .medio {
    height: 7rem;
    margin-top: 28rem;
    margin-bottom: 35rem;
  }
  h1 {
    margin-bottom: 10rem;
  }
}
/**************** Producto *******************/
.main-producto {
  background-color: darkslategrey;
}
.main-producto .contenedor-producto h1 {
  font-size: 5rem;
  font-weight: 600;
  color: white;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 5rem;
}
.main-producto .contenedor-producto h1 .container .row .lista-producto {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  font-size: 3rem;
  margin-top: 10rem;
  margin-left: 5rem;
  color: white;
}
.main-producto .contenedor-producto h1 .container .row .lista-producto li {
  color: white;
  list-style: none;
  font-size: 4rem;
}

@media (max-width: 575px) {
  .lista-producto li {
    font-size: 2rem;
  }
  .contenedor-producto h1 {
    font-size: 4rem;
  }
}
/****************** FOOTER *******************/
.pie {
  background-color: darkslategrey;
  display: flex;
  justify-content: space-around;
  text-align: center;
  font-size: 2rem;
  color: black;
  margin: 0;
}

.row {
  width: 100%;
}

/*# sourceMappingURL=style.css.map */
