/********************* Variables *********************/
@use "partials/variables";

/********************* Mixin *************************/

@mixin d-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

@mixin d-column-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@mixin sizes($width, $height) {
	width: $width;
    height: $height;
}

/********************* General ***********************/

* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    background-color: variables.$fondo-principal;
    body {
        background-color: variables.$fondo-principal;
    }
}



/************************ HEADER **************************/

/*********** Barra de Navegación ***********/

a {
    text-decoration: none;    
}

.navega {
    background-color: variables.$fondo-principal;
    height: 3.5rem;
    text-align: center;
    font-size: 2rem;
    margin-top: .5rem;
    .row {
        div {
            margin-top: -.5rem;
            a {
                color: variables.$color-tipografia;
                &:hover {
            color: variables.$color-tipografia-third;
            font-weight: bold;
        }
            }
        }
    }

    
}



@media (max-width: 575px) {
    .navega {
        height: 10rem;
    }
}



/***********Animación a algunos títulos***********/

/*Pequeña modificación usando librería*/

:root {
    --animate-duration: 3200ms;
    --animate-delay: 0.9s;
  }

/*************** Hero Home ***************/

.hero-home {
    @include sizes (100%, 100rem);
    background-image: url(../img/hero-image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -1rem;    
}

.titulo {
    @include d-column-center;
    h1 {
        margin-top: 20rem;
        font-size: 7rem;
        font-weight: 600;
        color: variables.$fondo-principal;
        font-family: variables.$fuente-principal;
        text-align: center;
    }
    .titulo-resto {
        margin-top: 7rem;
    }
    h2 {
        color: variables.$fondo-principal;
        font-size: 2rem;
        font-weight: 600;
        color: variables.$color-tipografia;
        &:hover {
            transform: rotate(-7deg);
            color: variables.$color-tipografia-hover;
        }
    }
}

@media (max-width: 575px) {
    .titulo h2 {
        font-size: 1.5rem;
        margin-top: -5rem;
    }
    .titulo h1 {
        font-size: 4rem;
    }
}

/*Animación cambio de color en el título*/

.titulo {
    h1  {
        animation-name: mianimacion;
        animation-duration: 10s;
    }
}

@keyframes mianimacion {
    0%{
        color: variables.$fondo-principal;
    }
    25%{
        color: grey;
    }
    50%{
        color: black;
    }
    75%{
        color: grey;
    }
    100%{
        color: variables.$fondo-principal;
    }
}


/*************** Hero Eventos Torneos Tienda ***************/

.hero-small {
    @extend .hero-home;
    height: 34rem;
    padding-top: 5rem;
    .titulo {
        h2 {
            color: variables.$color-tipografia-second;
            &:hover {
                transform: rotate(-7deg);
                color: variables.$color-tipografia-hover;
            }
        }
    }
}

@media (max-width: 780px) {
    .hero-small {
        .titulo {
            margin-top: -4rem;
            h1 {
                color: variables.$color-tipografia;
            }
            h2 {
                color: variables.$color-tipografia;
                &:hover {
                    transform: rotate(-7deg);
                    color: variables.$color-tipografia-hover;
                }
            }
        }
    }
}



/****************** MAIN ******************/

/************* Home **************/

.home-main {
    background-color: variables.$fondo-principal;
    display: flex;
    justify-content: center;
    .nosotros {
        @include d-column-center;
        font-family: variables.$fuente-principal;
        background-color: variables.$fondo-principal;
        color: variables.$color-tipografia;
        width: 50%;
        h2 {
            font-size: 3rem;
            margin: 3.5rem 0rem;
            text-align: center;
        }
        p {
            font-size: 2rem;
            margin-bottom: 4rem;
            font-family: variables.$fuente-secundaria;
        }
    }
}



/**************** Galería de imágenes en Eventos ***************/

.grupo-fotos {
    @include d-center;
    flex-direction: column;
    margin: 10rem 0;
    div {
        @include d-center;
        width: 90%;
        img {
            width: 90%;
        }
    }

}

@media (max-width: 780px) {
    .grupo-fotos {
        div {
            width: 100%;
            img {
                width: 100%;
            }
        }
    }
}

/************* Torneos **************/

.torneos-main {
    @include d-center;
    text-align: center;
    flex-direction: column;
    background-color: variables.$fondo-principal;
    img {
        height: 60rem;
    }
    h3 {
        color: variables.$color-tipografia;
        font-size: 5rem;
        margin-top: 8rem;
        margin-bottom: 4rem;
        font-family: variables.$fuente-principal;
        text-align: center;
    }
    ul {
        color: variables.$color-tipografia;
        font-size: 3rem;
        margin-bottom: 3rem;
        font-family: variables.$fuente-secundaria;
    }
    p {
        color: variables.$color-tipografia;
        font-size: 2rem;
        margin-bottom: 10rem;
        font-family: variables.$fuente-secundaria;
    }
}


@media (max-width: 575px) {
    .categorias h3 {
        font-size: 4rem;
    }
    .categorias ul {
        font-size: 2rem;
    }
    .torneos-main img {
        width: 100%;
    }
    .torneos-aclaracion {
        margin: 2rem;
    }
    .torneos-main h3 {
        font-size: 4rem;
    }

}


/**************** Tienda ****************/

.nuestra-coleccion {
    @include d-column-center;
    h1 {
        color: variables.$color-tipografia;
        font-family: variables.$fuente-principal;
        color: variables.$color-tipografia-four;
        font-size: 5rem;
        text-align: center;
        margin-top: 5rem;
        margin-bottom: 7rem;
    }
    .productos {        
        margin-top: 3rem;
        margin-bottom: 70rem;
        width: 90%;    
        display: flex;
        justify-content: space-around;
        padding: .3rem;
        margin-bottom: 20rem;
        .clase-producto {        
            @include sizes (18rem, 75rem);
            @include d-column-center;
            justify-content: first baseline;
            h2 {
                color: variables.$color-tipografia;
                font-family: variables.$fuente-principal;
                margin-bottom: 5rem;
            }
            .unidad-producto {
                @include sizes (17rem, 17rem);
                margin: 10px 0;
            }
            img {
                @include sizes (17rem, 17rem);
            }
        }        
        .medio {
            height: 110rem;
        }
    }    
}

@media ( max-width : 500px ) {
    .productos {
        @include sizes (90%, 75%);
        @include d-column-center;                 
        .clase-producto {        
            @include sizes (12.5rem, 50rem);
            margin-top: .3rem;
            margin-bottom: 2rem;
            .unidad-producto {
                @include sizes (12rem, 12rem);
            }
            img {
                @include sizes (12rem, 12rem);
            }        
        }
        .medio {
            height: 7rem;
            margin-top: 28rem;
            margin-bottom: 35rem;
        }
    }
    h1 {
        margin-bottom: 10rem;
    }
}




/**************** Producto *******************/
.navega-producto {
    @extend .navega;
    margin-top: 0;
    padding-top: .3rem;
    background-color: variables.$color-tipografia;  
    .row {
        div {
            a {
                color: variables.$color-tipografia-second;
                font-weight: 700;
            }
        }
    }

}

.main-producto {
    h1 {
        color: variables.$color-tipografia-four;
        text-align: center;
        font-size: 5rem;
        margin: 5rem 0 10rem 0;
        font-family: variables.$fuente-principal;        
    }
    article {
        @include d-column-center;
        margin-bottom: 16rem;
        div {
            @include sizes (50rem, 50rem);
            margin-bottom: 17rem;
            img {
                @include sizes (50rem, 50rem);
            }
        }
        ul {
            text-align: center;
            li {
                color: variables.$color-tipografia;
                list-style: none;
                font-size: 4rem;
            }
        }
    }
}
@media ( max-width : 1024px ) {
    .main-producto {
        article {
            div {
                margin-bottom: 5rem;
            }
        }
    }
}

@media ( max-width : 500px ) {
    .main-producto {
        h1 {
            font-size: 4rem;
        }
        article {
            div {
                @include sizes (45rem, 47rem);
                img {
                    @include sizes (45rem, 47rem);
                }
            }
        }
    }
}
/****************** FOOTER *******************/


.pie {
    background-color: variables.$fondo-principal;
    display: flex;
    justify-content: space-around;
    text-align: center;
    font-size: 1.5rem;
    color: variables.$color-tipografia-four;
    margin: 0;
}

.row {
    width: 100%;
}

/**************** Botón UP ******************/

.contenedor-boton {
    display: flex;
    justify-content: center;
    margin-bottom: 10rem;
    .boton {
        background-color: variables.$fondo-second;
        @include sizes (10em, 10rem);
        border-radius: 50%;
        @include d-center;
        a {
            font-family: variables.$fuente-principal;
            font-size: 2rem;
            color: variables.$color-tipografia-second;
        }
    }
    }