$fondo-principal: darkslategrey;
$fondo-second: white;
$color-tipografia: white;
$color-tipografia-second: darkslategrey;
$color-tipografia-third: black;
$color-tipografia-four: skyblue;
$color-tipografia-hover: red;

$fuente-principal: 'Dela Gothic One', 'cursive';
$fuente-secundaria: 'Helvetica', 'sans-serif';